.HomePageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;

}

/* HomePage_Left start  */

.HomePage_Left{
    width: 60%;
    height: 100%;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.Home_Rating{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

.Left_heading{
    font-size: 50px;
    font-weight: 700;
    color: #272D37;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px 0px;
}

.Left_para{
    font-size: 20px;
    color: #4F4F4F;
    font-weight: 500;
    letter-spacing: 2px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 12px 0px;
}

.Home_Data{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 8px;
}

.Home_DataIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: #4F4F4F;
}
.Home_DataHead{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 800;
    background: linear-gradient(to bottom left, rgba(255, 162, 41, 1), rgba(79, 79, 79, 1));
    -webkit-background-clip: text; /* Optional: For text gradients */
    -webkit-text-fill-color: transparent;
}
.Home_Datapara{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: rgba(79, 79, 79, 1);
}

.Home_Datagroup{
    padding: 0px 3px;
}

.Home_Databutton{
    display: flex;
    background-color: rgba(28, 70, 112, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    padding: 8px 20px;
}

.Home_DataPlay{
    display: flex;
    color: rgba(40, 40, 40, 1);
    gap: 0.5rem;
    font-size: 18px;
    padding: 8px 20px;
    border-radius: 20px;
}


/* HomePage_Right start  */

.HomePage_Right{
    width: 40%;
    height: 100%;
}

.Home_Data_group{
    display: flex;
    gap: 2rem;
    padding: 10px 0px ;
}


@media only screen and (max-width: 768px){


    .HomePageContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 40px 0px;
    
    }

    .HomePage_Left{
        width: 100%;
        height: 100%;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
    }

    .HomePage_Right{
        width: 100%;
        height: 100%;
    }

    .Home_Data_group{
        display: flex;
        flex-direction: column;

        gap: 2rem;
        padding: 10px 0px ;
    }
    
}